*{
    padding: 0;
    margin: 0;
    outline: none;
    border:none;
    box-sizing: border-box;
    font-family: 'Catrinity', sans-serif;   
  }
  
  a{
    text-decoration: none;
  }
  
  html, body{
    height: 100%;
    margin: 0;
  }
  
  .corpo{
    height: 100%;                                    
  }
  
  
  .div-links{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px  #264653 ;
    box-shadow: 3px 5px 20px  rgb(39, 71, 84, 0.1);
    height: 8%;
  }
  
  .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .link a{
    position: relative;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding-right: 3rem;
    color: #00949B;
    font-size: 1.3rem;
    font-weight: bold;
    border-right: 2px solid #00949B;
  }
  
  .link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00949B;
    transition: all 0.3s ease;
  }
  
  .link a:hover::after{
    width: 70%;
  }
  
  
  .logout{
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    transition-duration: .3s;
    background-color: white;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: var(--night-rider);
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .logout:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .logout:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .logout:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .logout:active {
    transform: translate(2px ,2px);
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    height: 92%;
    padding: 0px 10px 10px 10px;
    background-color: #ffffff;
  }
  
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  width: 100%;

}

.header h1{
  color: #00949B;
}
.coluna-header{
  color: #00949B
}
.btn-adicionar-tarefa {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #9BAEBC;
  background-color: #00949B;
}

.btn-adicionar-tarefa, .btn-adicionar-tarefa__icon, .btn-adicionar-tarefa__text {
  transition: all 0.3s;
}

.btn-adicionar-tarefa .btn-adicionar-tarefa__text {
  font-family: 'Niramit', sans-serif;
  font-size: 15px;
  color: #ADFCFE;
  font-weight: 600;
  margin-left: 8px;
  margin-bottom: 3px;
}

.btn-adicionar-tarefa .btn-adicionar-tarefa__icon {
  position: absolute;
  transform: translateX(160px);
  height: 100%;
  width: 39px;
  background-color: #9BAEBC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-adicionar-tarefa .svg {
  width: 30px;
  stroke: #fff;
}

.btn-adicionar-tarefa:hover {
  background: #00949B;
}

.btn-adicionar-tarefa:hover .btn-adicionar-tarefa__text {
  color: transparent;
}

.btn-adicionar-tarefa:hover .btn-adicionar-tarefa__icon {
  width: 198px;
  transform: translateX(0);
}

.btn-adicionar-tarefa:active .btn-adicionar-tarefa__icon {
  background-color: #9BAEBC;
}

.btn-adicionar-tarefa:active {
  border: 1px solid #9BAEBC;
}

.tarefas-colunas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.coluna-pendentes{
  width: 30%;

}

.coluna-em-progresso{
  width: 30%;
}

.coluna-concluidas{
  width: 30%;
}

.pendentes-header{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
}

.progresso-header{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
}

.concluidas-header{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
}

.tarefa-caixa{
  display:none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  background-color: #ADFCFE;
  padding: 7px 20px;
  border-radius: 8px;
  height: 142px;
  margin: 15px 5px;
  width: 60%;
  color: #;
}

.tarefa-caixa:hover{
  transform: translate(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
}

.tarefa-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

.tarefa-content p{
  margin: 2px 0 15px;
  font-size: 14px; 
  font-weight: 400; 
}

.tarefa-footer{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: black;
}
