<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas | Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/modal_tarefa.css">
    <link rel="stylesheet" type="text/css" href="../static/css/menu_dot.css">
    <link href="https://fonts.cdnfonts.com/css/catrinity-for-personal-use" rel="stylesheet">    
    <link href="https://fonts.cdnfonts.com/css/niramit-2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>                                  
</head>
<body>
    <div class="header-links">
        <ul class="nav-links">
            <li class="link"><a href="homepage">Página Inicial</a></li>
            <li class="link"><a href="sobre-o-criador">Sobre o criador</a></li>
        </ul>
        <form action="/logout">
            <button class="logout" type="submit">
                <div class="sign-logout"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>            
                <div class="text">Logout</div>
            </button>
        </form>
    </div>       
    <div class="container">
        <div class="header-container">
            <h1>Suas tarefas</h1>
            <button type="button" class="btn-adicionar-tarefa" id="btnAdicionarTarefa">
                <span class="btn-adicionar-tarefa__text">Adicione uma tarefa</span>
                <span class="btn-adicionar-tarefa__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
            </button>
        </div>
        <div class="tarefas-colunas">
            <div class="coluna-pendentes">
                <div class="coluna-header">
                    <h1>Pendente</h1>
                </div>
                <div class="pendentes-content" id="pendentes-content">                        
                </div>    
            </div>
            <div class="coluna-em-progresso">
                <div class="coluna-header">
                    <h1>Progresso</h1>
                </div>
                <div class="progresso-content" id="progresso-content">
                </div>
            </div>
            <div class="coluna-concluidas">
                <div class="coluna-header">
                    <h1>Concluído</h1>
                </div>
                <div class="concluidas-content" id="concluida-content">
                </div>   
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2 style="color: white;">Adicione uma tarefa</h2>
            <form method="POST" id="form_tarefas" class="form_tarefas" action="/homepage">
                <span class="close" id="closeModalBtn">&times;</span>
                <label for="form_nome_tarefa">Categoria</label>
                <input type="text" placeholder="Qual a categoria da tarefa?" name="nomeTarefa" id="form_nome_tarefa">
                <label for="form_descricao_tarefa">Descrição</label>
                <textarea id="form_descricao_tarefa" placeholder="Descreva a tarefa" type="text" rows="8" cols="30" name="descricaoTarefa"></textarea>
                <label for="form_data_tarefa">Data</label>
                <input type="date"  name="data" id="form_data_tarefa">
                <button type="submit" id="envia_tarefa">Enviar</button>
            </form>
        </div>
    </div>
    <div id='modalEditarTarefa'class="modal">
        <div class="modal-content">
            <h2 style="color: white;">Editar tarefa</h2>
            <form method="POST" id="form_editar_tarefas" class="form_tarefas" action="/editar-tarefa">
                <span class="close" id="closeModalEditBtn">&times;</span>
                <label for="form_nome_tarefa">Categoria</label>
                <input type="text" placeholder="Qual a categoria da tarefa?" name="nova_tarefa" id="novo_form_nome_tarefa">
                <label for="form_descricao_tarefa">Descrição</label>
                <textarea id="novo_form_descricao_tarefa" placeholder="Descreva a tarefa" type="text" rows="8" cols="30" name="nova_descricao_tarefa"></textarea>
                <label for="form_data_tarefa">Data</label>
                <input type="date"  name="nova_data" id="novo_form_data_tarefa">
                <button type="submit" id="envia_tarefa">Enviar</button>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <div class="info">
                    <div class="info__icon">
                      <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z" fill="#393a37"></path></svg>
                    </div>
                    <div class="info__title">{{ message }}</div>
                    <div class="info__close" id="closeMsgBtn"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}   
    {% if msg %}
        <div class="info" id="msgBox">
            <div class="info__icon">
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z" fill="#393a37"></path></svg>
            </div>
            <div class="info__title">{{ msg }}</div>
            <div id="closeMsgBtn" class="info__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
        </div>
    {% endif %}
    <script src="../static/JavaScript/modal-adicionar-tarefas.js"></script>
    <script src="../static/JavaScript/muda_status_tarefa.js"></script>
    <script src="../static/JavaScript/exibe_tarefas.js"></script>
    <script src="../static/JavaScript/menu_dot.js"></script>
    <script src="../static/JavaScript/inicializa_tarefas.js"></script>
    <script src="../static/JavaScript/adiciona_tarefa.js"></script>
    <script src="../static/JavaScript/editar_tarefa.js"></script>
</body>
</html>