<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/profile.css">
  <link href="https://fonts.cdnfonts.com/css/catrinity-for-personal-use" rel="stylesheet">         
</head>
<body>
  <div class="header-links">
    
    <ul class="nav-links">
        <li class="link"><a href="homepage">Página Inicial</a></li>
        <li class="link"><a href="sobre-o-criador">Sobre o criador</a></li>
    </ul>
    <div class="icons"> 
      <form action="/profile-page" class="profile-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
    </form>
  <form action="/logout">
    <button class="logout" type="submit">
      <div class="sign-logout"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>            
      <div class="text">Logout</div>
    </button>
  </form>
    </div>
</div> 
  <div class="profile">
    <div class="header-profile"><h1>Minha Conta</h1></div>
    <div class="container-profile">
      <p>Usuário</p>
      <div class="user-profile"><p id="user-profile" ></p></div>
      <p>E-mail</p>
      <div class="email-profile"><p id="email-profile"></p></div>
      <p>Data de nascimento</p>
      <div id="birthday-profile" class="birthday-profile"><p></p></div>
      <p>Gênero</p>
      <div id="gender-profile" class="gender-profile"><p></p></div>
      <a href="update-password">Alterar senha</a>
      <button id="update-account-btn" onclick="readUserData()">Editar</button>
    </div>
  </div>
  <script>
    window.onload = function readUserData(){
      fetch("/read-user-data", {
        method: "POST"
      })
      .then(response => {return response.json();})
      .then(data => {
        document.getElementById("user-profile").textContent = data.username;
        document.getElementById("email-profile").textContent = data.email;
      })
    }
    
  </script>
</body>
</html>
