<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register_style.css">
</head>
<body>
    <div class="form-box">
        <form class="form" method="POST" id="form_signup" action="/signup">
            <span class="title">Registrar</span>
            <span class="subtitle">Crie uma conta com seu email.</span>
            <div class="form-container">
                    <input type="text" class="input" placeholder="Usuário" name="username">
                    <input type="email" class="input" placeholder="Email" name="email">
                    <input type="password" class="input" placeholder="Senha" name="password">
            </div>
            <button type="submit" value="submit">Criar conta</button>
        </form>
        <div class="form-section">
          <p>Já possui uma conta? Faça seu login por <a href="/login">aqui</a> </p>
        </div>
    </div>
    {% if msg %}
        <div class="info">
            <div class="info__icon">
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z" fill="#393a37"></path></svg>
            </div>
            <div class="info__title">{{ msg }}</div>
            <div id="closeMsgBtn" class="info__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
        </div>
    {% endif %}

    <script>
        var closeMsg = document.getElementById("closeMsgBtn");
        closeMsg.addEventListener("click", function(event){
            event.preventDefault();
            var msgBox = closeMsg.parentElement
            msgBox.style.display = "None";
        })
    </script>
    </html>