<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" type="text/css" href="static/css/homepage_style.css">
    <link href="https://fonts.cdnfonts.com/css/catrinity-for-personal-use" rel="stylesheet">                                                          
</head>
<body>
    <div class="div-links">
    <ul class="nav-links">
        <li class="link"><a href="homepage">Página Inicial</a></li>
        <li class="link"><a href="tarefas">Suas Tarefas</a></li>
        <li class="link"><a href="sobre-mim">Sobre o criador</a></li>
    </ul>
</div class="div-links">
</body>
</html>