<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../static/css/sobre_mim.css">
    <link rel="stylesheet" href="../static/css/homepage_style.css">
    <link href="https://fonts.cdnfonts.com/css/catrinity-for-personal-use" rel="stylesheet"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>                                                         
</head>
<body>
    <div class="header-links">
        <ul class="nav-links">
            <li class="link"><a href="homepage">Página Inicial</a></li>
            <li class="link"><a href="sobre-o-criador">Sobre o criador</a></li>
        </ul>
        <form action="/logout">
            <button class="logout" type="submit">
                <div class="sign-logout"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>            
                <div class="text">Logout</div>
            </button>
        </form>
    </div>    
    <header>
        <div id="particles"></div>
        <div class="info-text">
            <h1>Quem sou eu?</h1>
            <h3>Estudante de Engenharia da Computação | Universidade de Brasília</h3>
            <div class="contatos">
                <a href="https://www.linkedin.com/in/henrique-givisiez-dos-santos-600886226/" class="scroll"><i class='bx bxl-linkedin-square'></i></a>
                <a href="https://www.instagram.com/henrique.giv/?next=%2F" class="scroll"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="https://github.com/Henrique-Givisiez" class="scroll"><i class='bx bxl-github' ></i></a>
            </div>
            <a href="#about"  id="scroll"><i class='bx bxs-down-arrow'></i></a>
    </header>

    <section id="about">
        <div class="header">
            <h1>Sobre mim</h1>
            <a href="mailto:lucogds@gmail.com">Contato</a>
        </div>
        <div class="card">
            <img src="../static/assets/foto_perfil.jpg">
            <div class="info">
                <h1>Henrique Givisiez</h1>
                <p>
                    Olá, mundo! Sou estudante de Engenharia da Computação pela Universidade de Brasília.
                Busco continuar a evolução dos meus conhecimentos em programação por meio de projetos pessoais
                e estudos constantes sobre o mundo da tecnologia. Minha paixão por resolver problemas através de
                códigos me impulsiona a querer absorver tudo que este universo fascinante tem a oferecer. Se deseja
                saber mais sobre mim, mande-me um <a href="mailto:lucogds@gmail.com">e-mail</a>
                </p>

            </div>
        </div>

    </section>


    <script src="../static/JavaScript/sobre_mim/particles.js"></script>
    <script src="../static/JavaScript/sobre_mim/sobre_mim.js"></script>
</body>
</html>