<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <h1>Seja bem-vindo!</h1>
    <h1 style="margin-top: 5px;">Vamos dar uma olhada nas tarefas?</h1>
    
    <div class="form-fundo">
      <form id="task-form">
        <input type="text" id="task-input" placeholder="Adicionar Tarefa">
      </form>
    </div>
    
    <div id="response">
    </div>  
    <script src="static/JavaScript/script.js"></script>
</body>
</html>